body {
    background: #000000;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
/*
    //width: 512px;
    //height: 512px;

    //margin-left: auto;
    //margin-right: auto;
*/
    margin: 0;
    padding: 0;

    overflow: hidden;
}

input {
    border: none;
    background-color: #000000;
    color: green;
    width: 10em;
}

.label {
    color: #bbbbbb;
    text-shadow: -1px 1px 1px rgb(0, 8, 0);
    margin-left: 0px;
    font-family: sans-serif;
    font-size: 12px;
}